
body{
    padding: 0px;
   margin: 0px;
   background-color: #151414;
   color: whitesmoke;
}
/* header part  */
#head{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 70px 80px;
    padding-bottom: 20px;
}
#head>div{
    height: fit-content;
}
#topimg>img{
    display: block;
    width: 200px;
}
#social{
    width: fit-content;
}
#social>img{
 margin:  0% 2%;
}
#topbtn{
    display: block;
    background-color: transparent;
    color: #99141d ;
    border: 1px solid #99141d ;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 15px;
}
#topbtn:hover{
background-color: #D2051E;
color: white;
border-color: white;
}
#navbar{
    width: fit-content;
    height: fit-content;
    margin: 0px auto ;
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}
#navbar a{
    color: white;
     font-size: 14px;
     padding: 10px;
     display: flex;
    text-decoration: none;
}
#navbar a:hover{
    background-color: white;
    color: #D2051E;
}
hr{
    border: 0.1px solid #99141d ;
    margin: 0px;
}
#coal{
    width: 50%;
    margin: 20px auto;
    margin-bottom: 0px;
    cursor: pointer;
}
a>p{
    text-align: center;
    line-height: 60px;
     width: 75%;
     margin: auto;
     font-size: 52px;
     line-height: 52px;
     font-family: "fjalla one";
     margin-top: 30px;
     margin-bottom: 80px;
}
a>p:hover{
    color: red;
}
a{
    text-decoration: none;
    color: white;
    width: 50%;
}
a ul{
    display: none;
    list-style: none;
    padding: 0%;
    margin: 0px;
}
a:hover>ul{
    display: block;
    background-color: #211f1f;
}

/* middle boxs */

#middle_box1{
    border: 1px solid whitesmoke;
    border-left: 1px dashed whitesmoke;
    border-right: 1px dashed whitesmoke;
    border-bottom: none;
    height: auto;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px 20px;
    padding: 0px 20px;
    font-family: "Fira Sans Condensed";
    padding-bottom: 100px;
}
#middle_box1 h2{
     font-weight: 400;
}
#middle_box1 p{
    font-size: 17.5px;
   font-family: "Fira Sans Condensed";
   font-weight: 400;
   line-height: 22px;
}
#middle_box1>div{
    height: auto;
}
#middle_box1 img{
    cursor: pointer;
}
#second{
   grid-column: 2/4;
   width: 100%;
}

#second>#grandchild{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
}
#grandchild img{
    width: 100%;
}
#child1>img{
    width: 100%;
}
#third img{
width: 100%;
}
#grandchild h2{
 margin-top: 0px;
}
#middle_box1 h2:hover{
    color: #99141d;
    cursor: pointer;
}
#middle_box1 #gray{
    color: grey;
    font-family: "Space Mono";
    font-size: 15px;
}
#second img{
    height: 100%;
    width: 100%;
}
#second>#grandchild>div{
    padding: 30px 10px 30px 10px;
    border-bottom: 1px solid gray;
}
#first>div{
   padding-bottom: 30px;
   border-bottom: 1px solid gray;
}
#second #child1{
    grid-column: 1/3;
    margin-top: -90px;
}
#third>div{
   border-bottom: 1px solid gray;
  padding: 30px 10px 30px 10px;   
}
#second>#grandchild>div img{
    width: 100%;
}
#ad{
    width: 100%;
}
#ad>img{
    width: 80%;
}

/* box model 2 */

#middle_box2{
    border: 1px solid red;
    border-top: none;
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-family: "Fira Sans Condensed";
}
#middle_box2 img{
    cursor: pointer;
}
#middle_box2 #bigchild1{
    grid-column: 1/3;
}
#middle_box2 #bigchild2{
    grid-column: 2/4;
}
#middle_box2 img{
    width: 100%;
}
#middle_box2 h2:hover{
color: #be1025;
cursor: pointer;
}
#bigchild1{
display: grid;
grid-template-columns: repeat(2,1fr);
}
#bigchild2{
display: grid;
grid-template-columns: repeat(2,1fr)
}

#bigchild1 h2{
    font-size: 47px;
    transform: scale(1,1.2);
    padding:0px 20px 0px 20px ;
    padding-bottom: 50px;
}
#bigchild2 h2{
    font-size: 45px;
    transform: scale(1,1.2);
    line-height: 43px;
    padding-left: 70px;
}
#bigchild1 img{
height: 100%;
}
#bigchild2 img{
height: 100%;
}
#bigchild1 h1{
    font-size: 50px;
    padding: 40px;
}
#bigchild1{
    border: 0.5px solid red;
}
#halfimg #smallname{
font-size: 14px;
padding-left: 30px;
 padding-bottom: 70px;
}
#halfimg2{
    border: 1px solid red;
    margin-right: 50px;
}
#halfimg2 #smallimg2{
    width: 100%;
}
#halfimg2 #smallname2{
padding-left: 20px;
padding-right: 30px;
font-size: 14px;
}
#middle_box2 h2+p{
    border: 1px solid red;
    margin-left: 50%;
    padding-left: 30px;
    padding-top:20px ;
    padding-bottom: 20px;
    border-bottom: none;
    border-right: none;
    border-left: 1px  dashed red;
    font-size: 15px;
    color: black;
    margin-bottom: 0%;
    display: block;
}

/* last middle child */
#middle_third{
    height: fit-content;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#middle_third .smallgrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    border: solid red 1px;
    border-top: none;
}
#middle_third .smallgrid{
    padding: 20px;
}
#middle_third h2{
    font-size: 20.2px;
    margin-top: 0px;
    font-family: "Fira Sans Condensed";
}
#middle_third h2:hover{
    color: #be1025;
    cursor: pointer;
}
#middle_third img{
    width: 100%;
    height: 80%;
    cursor: pointer;
}
/* sign up form */
#signup{
    height: auto;
    width: 65%;
    margin: auto;
    background-color: #1a1818;
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    gap: 30px;
   box-shadow: rgba(31, 30, 30, 0.16) 0px 1px 4px;
}
#singupform{
    margin-top: 30px;
}
#headsignup h1{
    font-size: 40px;
    font-weight: 400;
}
#signup p{
    color: rgba(255, 255, 255, 0.662);
}
#signup a{
    color: red;
}
#singupform input{
    border: none;
    width: 45%;
    padding: 10px 12px;
    border-radius: 5px;
    padding-right: 1px;
    font-size: 16px;
    background-color: #2f2c2c;
    border: 1px solid #585353;
}
input+button{
    width: 30%;
    padding: 12px 30px;
    background-color:rgb(210, 17, 17);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
input+button:hover{
    background-color: #99141d;
    cursor: pointer;
}

#signup span{
    color: red;
}
#signup p{
    font-family: "Open Sans";
    font-weight: 10;
    font-size: 13px;
    margin-right: 80px;
}
#redline{
    background-color: rgb(202, 22, 22);
    padding: 5px 70px;
    display: flex;
    height: auto;
    font-family: sans-serif;
    margin-top: 90px;
    justify-content: space-between;
}
#btmiconsocial{
padding-top: 12px;
}
#btmiconsocial img{
    margin-right: 15px;
}

/* footer part */

#footer{
    padding-right: 100px;
    padding-left: 60px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:  #000000;
}
#footer>div{
    margin: 10px;
    margin-top: 30px;
    margin-right: 0px;
}
#footer a{
    display: block;
    margin-top: 8px;
    font-family: "Open Sans";
    font-weight: 30;
    color: rgba(245, 245, 245, 0.865);
    font-size: 13px;
}
#footer a:hover{
    color:red;
}

#footer h3{
    font-weight:10;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(118, 41, 41);
    margin-right: 150px;
}

/* last part */

#footer2{
    height: auto;
    font-family: "Open Sans";
    font-weight: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.938);
}

#footer2 a{
    margin: 10px;
     font-size: 14px;
    color: rgba(255, 255, 255, 0.534);
}


@media all and (min-width:656px) and (max-width:1000px){
   #middle_box1{
    width: 90%;;
   }
   #coal img{
    width: 90%;
   }
   a+img{
display: none;
}
#second2 img{
height: max-content;
}
#second3{
    height: max-content;
}
#bigimg1{
    height: 50%;
}
#bigimg2{
    height: 50%;
}
#middle_third .smallgrid div h2{
 font-size: 15px;
}
#singupform button{
    width: 45%;
}

}

@media all and (min-width:320px) and (max-width:655px){
     body #middle_box1{
        grid-template-columns: 1fr;
    }
    #date{
        display: none;
    }
    #coal img{
    width: 100%;
   }
   #second #child1{
    grid-column: 1/1;
    margin-top:0px;
}
   a+img{
display: none;
}
#navbar{
    display: none;
}
body #date{
    display: none;
}
#social{
    display: none;
}
#footer{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
#footer h3{
    margin:0px;
}
#second{
   grid-column: 1/1;
   grid-row: 1/2;
}
#coal+a p{
    width: 100%;
    font-size: 30px;
    margin-bottom: 0px;
}
#second>#grandchild{
    grid-template-columns: 1fr;
}
#ad{
    display: none;
}
#middle_box2{
    grid-template-columns: 1fr;
}
#middle_box2 #bigchild1{
    grid-column: 1/1;
}
#bigname h2{
    font-size: 20px;
}
#bigname2 h2{
    font-size: 20px;
    line-height: 20px;
}
#halfimg2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#halfimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#middle_box2 #bigchild2{
    grid-column: 1/1;
    font-size: 18px;
}
#middle_third{
    grid-template-columns: 1fr;
}
#middle_third img{
    height: 100%;
}
#signup{
    grid-template-columns: 1fr;
}
#signup button{
    width: 100%;
}
#signup input{
    width: 95%;
}
#topimg{
    margin: auto;
}
#footer a{
    display: none;
}
#footer{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 1px solid white;
    font-family: "Open Sans";
}
#redline{
    display: none;
}
#footer h3{
        padding: 0px;
        margin: 0px;
        border: none;
    }
    #lastone{
        display: none;
    }
    #lastetwo{
        margin: auto;
    }
}

@media all and (min-width:10px) and (max-width:320px){
     body #middle_box1{
        grid-template-columns: 1fr;
    }
    #date{
        display: none;
    }
    #coal img{
    width: 100%;
   }
   #second #child1{
    grid-column: 1/1;
    margin-top:0px;
}
   a+img{
display: none;
}
#navbar{
    display: none;
}
body #date{
    display: none;
}
#social{
    display: none;
}
#footer{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
#footer h3{
    margin:0px;
}
#second{
   grid-column: 1/1;
   grid-row: 1/2;
}
#coal+a p{
    width: 100%;
    font-size: 30px;
    margin-bottom: 0px;
}
#second>#grandchild{
    grid-template-columns: 1fr;
}
#ad{
    display: none;
}
#middle_box2{
    grid-template-columns: 1fr;
}
#middle_box2 #bigchild1{
    grid-column: 1/1;
}
#bigname h2{
    font-size: 20px;
}
#bigname2 h2{
    font-size: 20px;
    line-height: 20px;
}
#halfimg2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#halfimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#middle_box2 #bigchild2{
    grid-column: 1/1;
    font-size: 18px;
}
#middle_third{
    grid-template-columns: 1fr;
}
#middle_third img{
    height: 100%;
}
#signup{
    display: flex;
}
#topimg{
    margin: auto;
}
#footer a{
    display: none;
}
#footer2{
    display: none;
}
#signup{
    grid-template-columns: 1fr;
}
#signup button{
    width: 100%;
}
#signup input{
    width: 95%;
}
}